CORS_ORIGIN="localhost:3000,http://localhost:3000,https://keepplus.vercel.app,https://keepplus.netlify.app"
BCRYPT_SALT_ROUNDS=5
JWT_SECRET="skjgbulrsngjl nuelf nsjnf;o sjnjsn ulhsr86t78s9r0g8sr9 gkjsb jkvho u2n3uir b27ot980-i9uhi%^^&*()"
JWT_EXPIRES_IN=24h
MONGODB_URI=""
SEED_DATABASE=false
COOKIE_VARIABLE_NAME=authToken
COOKIE_EXPIRES=7d
MAIL_SERVICE_EMAIL=""
MAIL_SERVICE_PASSWORD=""
PORT=3001
ENV="development"
FRONTEND_HOST="https://keepplus.netlify.app"
